name: Build App and Push Image to ECR
on:
  workflow_dispatch:
    inputs:
      checkpoint:
        description: 'Use git tag instead of a commit?'
        type: boolean
        required: true
        default: false

      tag_value:
        description: 'Commit ID or git tag. If empty, uses the latest commit/tag.'
        required: false
        type: string
  pull_request:
    branches:
      - main # THE TRUNK
    types:
      - opened
      - synchronize # runs again when commits are pushed to the PR
      - reopened


# dev branches will add the tag with dev,
# so I should use tags like:  :dev, :tst, :prd
# NOT latest because latest may be different by the latest of tomorrow

jobs:
  build:
    runs-on: ubuntu-latest

    # This tells Github action so that for each run: command to execute it inside the web_app folder INSTEAD of the repo root
    defaults:
      run:
        working-directory: web_app

    steps:
      - name: Get code # download the code from the repo
        uses: actions/checkout@v3

      - name: Setup AWS ECR Details
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1 # VERY IMPORTANT TO BE in us-east-1 for public registries!!!!!!!!

      - name: Login to Amazon ECR
        id: login-aws-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public

      - name: Build and push Docker Image
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ECR_PUBLIC_ALIAS: ${{ secrets.ECR_PUBLIC_ALIAS }}
          ECR_REPOSITORY: ${{ secrets.REPO_NAME }}
          GITHUB_SHA: ${{ github.sha }}
          INPUT_CHECKPOINT: ${{ github.event.inputs.checkpoint }}
          INPUT_TAG_VALUE: ${{ github.event.inputs.tag_value }}
        run: |
              echo "ECR_REGISTRY: $ECR_REGISTRY"
              echo "ECR_PUBLIC_ALIAS: $ECR_PUBLIC_ALIAS"
              echo "ECR_REPOSITORY: $ECR_REPOSITORY"
              echo "GITHUB_SHA: $GITHUB_SHA"
              echo "INPUT_CHECKPOINT: $INPUT_CHECKPOINT"
              echo "INPUT_TAG_VALUE: $INPUT_TAG_VALUE"
              echo "GITHUB_EVENT_NAME: $GITHUB_EVENT_NAME"

              # Decide the image tag based on the pipeline inputs
              if [ "$GITHUB_EVENT_NAME" != "workflow_dispatch" ]; then # in PR mode use commit ID
                echo "Triggered by PR - using short commit SHA as image tag"
                IMAGE_TAG=${GITHUB_SHA::8}

              else
                # MANUAL LOGIC
                if [ "$INPUT_CHECKPOINT" = "true" ]; then # use git tag

                  if [ -n "$INPUT_TAG_VALUE" ]; then # folosesc valoarea din input
                    echo "Using provided tag value as image tag: $INPUT_TAG_VALUE"
                    IMAGE_TAG=$INPUT_TAG_VALUE
                  else # folosesc cel mai recent git tag
                    echo "No tag value provided, fetching latest git tag"
                    IMAGE_TAG=$(git describe --tags $(git rev-list --tags --max-count=1))
                    echo "Using latest git tag as image tag: $IMAGE_TAG"
                  fi

                else # use commit ID

                  if [ -n "$INPUT_TAG_VALUE" ]; then # folosesc valoarea din input
                    echo "Using provided commit ID as image tag: $INPUT_TAG_VALUE"
                    IMAGE_TAG=$INPUT_TAG_VALUE
                  else
                    echo "Using short commit SHA as image tag"
                    IMAGE_TAG=${GITHUB_SHA::8}
                  fi

                fi
              fi

              IMAGE_NAME=$ECR_REGISTRY/$ECR_PUBLIC_ALIAS/$ECR_REPOSITORY:$IMAGE_TAG
              echo "IMAGE_NAME: $IMAGE_NAME"

              docker build -t "$IMAGE_NAME" .
              docker push "$IMAGE_NAME"

      #        echo "$IMAGE_TAG" > ../image_tag.txt

      # ASTA l-am folosit inainte pentru a face upload la image tag-ul latest pe S3, pt a fi folosit la deploy
      # - name: Upload image_tag.txt to S3
      #   env:
      #     ARTIFACTS_BUCKET: timo-artifact-bucket
      #     ARTIFACTS_PREFIX: dev   # or take from secret / env if you prefer
      #   run: |
      #     # path in S3 where we always store "latest" tag for dev
      #     S3_KEY="${ARTIFACTS_PREFIX}/latest-image-tag.txt"

      #     echo "Uploading image_tag.txt to s3://${ARTIFACTS_BUCKET}/${S3_KEY}"
      #     aws s3 cp ../image_tag.txt "s3://${ARTIFACTS_BUCKET}/${S3_KEY}"