name: Build App and Push Image to ECR
on: workflow_dispatch

# dev branches will add the tag with dev,
# so I should use tags like:  :dev, :tst, :prd
# NOT latest because latest may be different by the latest of tomorrow


# THIS IS WHAT I WANT TO BUILD

# push to main ──▶ Deploy DEV (auto)
#                    │ validate health
# manual dispatch ─▶ Deploy TST (needs approval)
#                    │ validate health + smoke
# manual dispatch ─▶ Deploy PRD (needs approval)



jobs:
  build-test:
    runs-on: ubuntu-latest # docker image sau github agent?

    # This tells Github action so that for each run: command to execute it inside the web_app folder INSTEAD of the repo root
    defaults:
      run:
        working-directory: web_app

    steps:
      - name: Get code # download the code from the repo
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: web_app/package-lock.json

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm # internal dependecies
          key: node-modules-${{ hashFiles('**/package-lock.json')}}

      - name: Install dependencies
        run: npm ci # install dependencies from package-lock.json

      # de rulat alte teste!!!!!! TO DO
      - name: Run lint tests
        run: npm run lint

      - name: Run tests
        run: npm test

      - name: Build Project
        run: npm run build
        # cache???

      - name: Setup AWS ECR Details
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-aws-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public


      - name: Build and push Docker Image
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}   # will be 'public.ecr.aws'
          ECR_PUBLIC_ALIAS: ${{ secrets.ECR_PUBLIC_ALIAS }}            # e.g. 'x1y2z3w4'
          ECR_REPOSITORY: ${{ secrets.REPO_NAME }}                     # e.g. 'web-app'
          GITHUB_SHA: ${{ github.sha }}
          # ECR_REGISTRY: ${{ steps.login-aws-ecr.outputs.registry }}
          # ECR_REPOSITORY: ${{ secrets.REPO_NAME }}
          # GITHUB_SHA: ${{ github.sha }}
          # IMAGE_TAG: ${{ github.sha }} # "timo-web-app-image"
        run: |
              echo "ECR_REGISTRY: $ECR_REGISTRY"
              echo "ECR_PUBLIC_ALIAS: $ECR_PUBLIC_ALIAS"
              echo "ECR_REPOSITORY: $ECR_REPOSITORY"
              echo "GITHUB_SHA: $GITHUB_SHA"
              
              IMAGE_TAG=${GITHUB_SHA::8}
              echo "IMAGE_TAG: $IMAGE_TAG"
              
              IMAGE_NAME=$ECR_REGISTRY/$ECR_PUBLIC_ALIAS/$ECR_REPOSITORY:$IMAGE_TAG
              echo "IMAGE_NAME: $IMAGE_NAME"
              
              docker build -t "$IMAGE_NAME" .
              docker push "$IMAGE_NAME"
