name: Build App and Push Image to ECR
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main # THE TRUNK
    types:
      - opened
      - synchronize # runs again when commits are pushed to the PR
      - reopened


# dev branches will add the tag with dev,
# so I should use tags like:  :dev, :tst, :prd
# NOT latest because latest may be different by the latest of tomorrow

# THIS IS WHAT I WANT TO BUILD

# push to main ──▶ Deploy DEV (manual)
#                    │ validate health
# manual dispatch ─▶ Deploy TST (needs approval)
#                    │ validate health + smoke
# manual dispatch ─▶ Deploy PRD (needs approval)

jobs:
  build:
    runs-on: ubuntu-latest

    # This tells Github action so that for each run: command to execute it inside the web_app folder INSTEAD of the repo root
    defaults:
      run:
        working-directory: web_app

    steps:
      - name: Get code # download the code from the repo
        uses: actions/checkout@v3

      - name: Setup AWS ECR Details
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1 # VERY IMPORTANT TO BE in us-east-1 for public registries!!!!!!!!

      - name: Login to Amazon ECR
        id: login-aws-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public


      - name: Build and push Docker Image
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ECR_PUBLIC_ALIAS: ${{ secrets.ECR_PUBLIC_ALIAS }}
          ECR_REPOSITORY: ${{ secrets.REPO_NAME }}
          GITHUB_SHA: ${{ github.sha }}
        run: |
              echo "ECR_REGISTRY: $ECR_REGISTRY"
              echo "ECR_PUBLIC_ALIAS: $ECR_PUBLIC_ALIAS"
              echo "ECR_REPOSITORY: $ECR_REPOSITORY"
              echo "GITHUB_SHA: $GITHUB_SHA"

              IMAGE_TAG=${GITHUB_SHA::8}
              echo "IMAGE_TAG: $IMAGE_TAG"

              IMAGE_NAME=$ECR_REGISTRY/$ECR_PUBLIC_ALIAS/$ECR_REPOSITORY:$IMAGE_TAG
              echo "IMAGE_NAME: $IMAGE_NAME"

              docker build -t "$IMAGE_NAME" .
              docker push "$IMAGE_NAME"

              echo "$IMAGE_TAG" > ../image_tag.txt

      - name: Upload image tag artifact
        uses: actions/upload-artifact@v4
        with:
          name: image-tag
          path: image_tag.txt

