name: Destroy Environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment to destroy"
        required: true
        type: choice
        options:
          - dev
          - test
          - prod
      confirm:
        description: "Type 'destroy' to confirm"
        required: true
        type: string

jobs:
  destroy-env:
    if: ${{ github.event.inputs.confirm == format('destroy', github.event.inputs.environment) }}
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: infra/env/${{ github.event.inputs.environment }}

    env:
      AWS_REGION: us-east-1

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
