name: Run lightweight tests & verify code integrity
on:
  push:
    branches:
      - 'feature/**' # when modifies are made to any feature branch
    paths-ignore:
      - 'infra/**' # if modifications are made to infra folder dont trigger the pipeline
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web_app

    steps:
      - name: Get the code
        uses: actions/checkout@v3

      - name: Load & Cache Dependencies
        uses: ./.github/actions/cached-deps
        with:
          working-directory: web_app

      - name: Build Project
        run: npm run build

  lint-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web_app

    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Load & Cache Dependencies
        uses: ./.github/actions/cached-deps
        with:
          working-directory: web_app

      - name: Run lint tests
        run: |
          echo "Running lint and formatting tests..."
          npm run lint

  format-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web_app

    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Load & Cache Dependencies
        uses: ./.github/actions/cached-deps
        with:
          working-directory: web_app

      - name: Checking formatting
        run: npx prettier --write . # --check?

  unit-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web_app

    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Load & Cache Dependencies
        uses: ./.github/actions/cached-deps
        with:
          working-directory: web_app

      - name: Run unit tests
        run: |
          echo "Running unit tests."
          npm test