name: Run lightweight tests & verify code integrity
on:
  push:
    branches:
      - 'feature/**' # when modifies are made to any feature branch
    paths-ignore:
      - 'infra/**' # if modifications are made to infra folder dont trigger the pipeline
  workflow_dispatch:

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: web_app

    steps:
      - name: Get the code
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: web_app/package-lock.json

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm # internal dependecies
          key: node-modules-${{ hashFiles('**/package-lock.json')}}

      - name: Install dependencies
        run: npm ci # install dependencies from package-lock.json

      - name: Build Project
        run: npm run build

  lint-tests:
    runs-on: ubuntu-latest
    # needs: build-and-upload
    defaults:
      run:
        working-directory: web_app

    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: web_app/package-lock.json

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm # internal dependecies
          key: node-modules-${{ hashFiles('**/package-lock.json')}}

      - name: Install dependencies
        run: npm ci # install dependencies from package-lock.json

      - name: Run lint tests
        run: |
          echo "Running lint and formatting tests..."
          npm run lint

  format-tests:
    runs-on: ubuntu-latest
    # needs: build-and-upload
    defaults:
      run:
        working-directory: web_app

    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: web_app/package-lock.json

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm # internal dependecies
          key: node-modules-${{ hashFiles('**/package-lock.json')}}

      - name: Install dependencies
        run: npm ci # install dependencies from package-lock.json

      - name: Checking formatting
        run: npx prettier --write . # --check?

      # - name: Detect dead code # unused exports
      #   run: vardius/deadcode-action@v1
        # eventual poate continue on error

  unit-tests:
    runs-on: ubuntu-latest
    # needs: build-and-upload
    defaults:
      run:
        working-directory: web_app

    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: web_app/package-lock.json

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm # internal dependecies
          key: node-modules-${{ hashFiles('**/package-lock.json')}}

      - name: Install dependencies
        run: npm ci # install dependencies from package-lock.json

      - name: Run unit tests
        run: |
          echo "Running unit tests."
          npm test